#loginPageCardBody  {
    min-width: 400px; 
}

#usernameInputBoxLabel {
    position: relative; 
}

#usernameInputBoxLabel:before {
    content: "";
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("../person.svg") center / contain no-repeat;
}


#passwordInputBoxLabel {
    position: relative; 
}

#passwordInputBoxLabel:before {
    content: "";
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("../key.svg") center / contain no-repeat;
}

.inputBox {
    padding: 10px 40px;
}

#submitButton {
    color: white; 
    padding: 10px 32px; 
    cursor: pointer; 
    margin: 4px 2px;
    border: none; 
    border-radius: 5px;
    background: rgb(176,10,10);
    background: linear-gradient(90deg, rgba(176,10,10,1) 0%, rgba(121,9,45,1) 35%, rgba(255,0,65,1) 100%);
}

#signUpButton {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 32px; 
    font-weight: bold;
    color: gray
}